<%- include('partials/header') %>

<div class="compose">
    <h2>Compose</h2>
    <form action="/" method="post" class="compose-form">
        <input type="text" name="newBlog" placeholder="Enter your new blog" autocomplete="off" />
        <button type="submit" name="postBtn">Publish</button>
    </form>
</div>

<%- include('partials/footer') %>
