<%- include('./partials/header') %>

<div class="home-content">
    <h1 class="blog-title"><%=selectedPost.postTitle %></h1>
    <p class="blog-content"><%=selectedPost.postContent %></p>
</div>

<%- include('./partials/footer') %>