<%- include('partials/header') %>

<div>
    <ul class="post-list">
        <% for (var i = 0; i < postList.length; i++) { %>
        <li>
            <a href="/post/<%= postList[i]._id%>"><%= postList[i].title %></a>
        </li>
        <% } %>
    </ul>

</div>


<%- include('partials/footer') %>